accelerate==1.1.1
decord==0.6.0
diffusers==0.32.0
einops==0.8.0
ftfy==6.2.3
imageio==2.35.1
imageio-ffmpeg==0.5.1
numpy==1.26.3
omegaconf==2.3.0
open_clip_torch==2.26.1
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.2.0
rotary-embedding-torch==0.8.3
safetensors==0.4.5
sentencepiece==0.2.0
timm==1.0.9
tokenizers==0.20.3
torch==2.5.1+cu118
torchvision==0.20.1+cu118
tqdm==4.66.5
transformers==4.46.3
triton==3.1.0